body
{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
    background-color: #dfdfdf;
    height: 200vh;
}
header
{
    margin: 0;
    padding: 0 0 5px 0;
    background-color: #fff;
    width: 80%;
    height: 120px;
    box-sizing: content-box;
    position: fixed;
    z-index: 3;
    left: 10%;
    top: 0px;
    border-radius: 0 0 7.5px 7.5px;
    border-bottom: 1px solid lightgray;
}
.banner
{
    width: 100%;
    height: inherit;
    background-color: rgba(2,160,221,1);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0 0 7.5px 7.5px;
}
.banner>ul
{
  list-style: none;
  width: 100%;
  box-sizing: border-box;
}
.banner>ul>li
{
  display: inline-block;

}
.img
{
  height: 100px;
  width: 300px;
}
.nameUser
{
  position: relative;
  left: 55%;
}
.profile
{
  position: relative;
  left: 55%;
}
main
{
  margin: 0;
  padding-top: 150px;
  width: 80%;
  box-sizing: border-box;
  left: 10%;
  position: relative;
  text-align: center;
}
.stars>ul
{
  list-style: none;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
article
{
	width: 80%;
    box-sizing: border-box;
    left: 10%;
    position: relative;
    text-align: center;
}
button
{
	  width: 100%;
    height: 40px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    margin: 0;
    border-collapse: collapse;
    border-radius: 0;
    border: 1px solid grey;
    font-size: 18px;
}
button:hover
{
	  border-bottom: 10px solid blue;
    background-color: lightgray;
    transition: all 0.2s;
}
article>ul
{
	  list-style: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
article>ul>li
{
	  list-style: none;
    box-sizing: border-box;
    width: 49.5%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    display: inline-block;
    position: relative;
    background-color: white;
}
article>ul>li:last-child
{
  left: -0.35%;
}
